<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Image Component" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./image.css" />
    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Image</title>
  </head>
  <body>
    <div
      class="snippet p-2-5 my-1 border flex flex-column wrap align-center content-center"
    >
      <img
        loading="lazy"
        src="https://picsum.photos/800/400"
        alt="responsive-landscape-image"
        class="image-responsive mr-1 my-1"
      />

      <img
        loading="lazy"
        src="https://picsum.photos/300/300"
        alt="rounded-corner-image"
        class="image-responsive mr-1 my-1 br-0-5"
      />

      <img
        loading="lazy"
        src="https://picsum.photos/300/300"
        alt="rounded-corner-image"
        class="image-responsive mr-1 my-1 br-50"
      />
    </div>
  </body>
</html>
