<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Typography Component" />
    <meta name="author" content="Atul Hande" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Typography</title>
  </head>
  <body>
    <!-- Headings utilities -->
    <div
      class="snippet p-2-5 my-1 border flex flex-column wrap text-left content-center"
    >
      <h1 class="my-1 mx-1">This is Heading 1</h1>
      <h2 class="my-1 mx-1">This is Heading 2</h2>
      <h3 class="my-1 mx-1">This is Heading 3</h3>
      <h4 class="my-1 mx-1">This is heading 4</h4>
      <h5 class="my-1 mx-1">This is Heading 5</h5>
      <h6 class="my-1 mx-1">This is Heading 6</h6>
    </div>
    <!-- text utility -->
    <div
      class="snippet p-2-5 my-1 border flex flex-column wrap text-left content-center"
    >
      <p class="text-xl my-1 mx-1">Xtra large sized text</p>
      <p class="text-l my-1 mx-1">Large sized text</p>
      <p class="text-m my-1 mx-1">Medium sized text</p>
      <p class="text-sm my-1 mx-1">Small sized text</p>
    </div>
    <!-- Colored text utility -->
    <div
      class="snippet p-2-5 my-1 border flex flex-column wrap text-left content-center"
    >
      <p class="primary-clr my-1 mx-1">Primary color text</p>
      <p class="seondary-clr my-1 mx-1">Secondary color text</p>
      <p class="gray-clr my-1 mx-1">Gray color text</p>
    </div>

    <!--Aligned text utility -->
    <div
      class="snippet p-2-5 my-1 border flex flex-column wrap text-left content-center"
    >
      <p class="text-left my-1 mx-1">Left align</p>
      <p class="text-center my-1 mx-1">Center align</p>
      <p class="text-right my-1 mx-1">Right Align</p>
    </div>
  </body>
</html>
