<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Grid Component" />
    <meta name="author" content="Atul Hande" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./grid.css" />
    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Grid</title>
  </head>
  <body>
    <!-- Two column grid -->
    <div class="snippet p-2-5 my-1 border">
      <div class="grid grid-cols-2 text-m text-center">
        <div>Grid Item One</div>
        <div>Grid Item Two</div>
      </div>
    </div>
    <!-- Two row grid -->
    <div class="snippet p-2-5 my-1 border">
      <div class="grid grid-rows-2 text-m text-center">
        <div>Grid Item One</div>
        <div>Grid Item Two</div>
      </div>
    </div>
    <!-- Three column grid -->
    <div class="snippet p-2-5 my-1 border">
      <div class="grid grid-cols-3 text-m text-center">
        <div>Grid Item One</div>
        <div>Grid Item Two</div>
        <div>Grid Item Three</div>
      </div>
    </div>

    <!-- Three row grid -->
    <div class="snippet p-2-5 my-1 border">
      <div class="grid grid-rows-3 text-m text-center">
        <div>Grid Item One</div>
        <div>Grid Item Two</div>
        <div>Grid Item Three</div>
      </div>
    </div>
  </body>
</html>
