.label {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 1rem;
  color: var(--dark-grey);
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid var(--gray);
  border-radius: 4px;
  color: var(--dark-gray);
  display: block;
}

.invalid {
  border-color: var(--red);
}

.invalid-feedback {
  color: var(--red);
  font-size: 1rem;
}
