<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Button</title>
  </head>
  <body>
    <div
      class="snippet text-center p-2-5 my-1 border flex wrap align-center content-center"
    >
      <button class="btn btn-primary mx-1 my-0-5">Primary Solid</button>
      <button class="btn btn-secondary mx-1 my-0-5">Secondary Solid</button>
      <button class="btn btn-success mx-1 my-0-5">Success</button>
      <button class="btn btn-danger mx-1 my-0-5">Danger</button>
      <button class="btn btn-primary btn-outline-primary mx-1 my-0-5">
        Primary Outline
      </button>
      <button class="btn btn-secondary btn-outline-secondary mx-1 my-1">
        Secondary Outline
      </button>
      <button class="btn btn-success btn-outline-success mx-1 my-0-5">
        Success
      </button>
      <button class="btn btn-danger btn-outline-danger mx-1 my-0-5">
        Danger
      </button>
      <i class="fa-solid fa-cart-shopping icon-btn mr-2 my-1"></i>
      <button class="btn btn-primary mx-1 my-0-5">
        <span><i class="fa-solid fa-cart-shopping mr-0-5"></i></span>
        Add to cart
      </button>
      <a href="#" class="btn btn-link mx-1 my-0-5">Home</a>
      <button class="btn-primary btn-float-icon">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
  </body>
</html>
