<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./avatar.css" />
    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Avatar</title>
  </head>
  <body>
    <!-- avatar -->
    <section id="avatar">
      <article>
        <div>
          <h3 class="font-black my-1-5">Avatar</h3>
          <h4 class="font-semibold my-1">Image Avatar</h4>
          <p>
            Change the size of avatar by simply changing the class according to
            your usecase.
          </p>
          <p>
            Sizes are extra-small <code>avatar-xs</code>, small
            <code>avatar-sm</code>, large <code>avatar-lg</code> and extra-large
            <code>avatar-xl</code>
          </p>
          <p class="mt-1-5">
            Image avatars, put image in <code>src</code> and provide an
            <code>alt</code>
          </p>
        </div>
        <div
          class="snippet text-center p-2-5 my-1 border flex wrap align-center content-center"
        >
          <img
            class="avatar-xs br-50 mr-1 my-0-5"
            src="../../assets/images/avatar.jpg"
            alt="avatar-xs"
          />
          <img
            class="avatar-sm br-50 mr-1 my-0-5"
            src="../../assets/images/avatar.jpg"
            alt="avatar-sm"
          />
          <img
            class="avatar-lg br-50 mr-1 my-0-5"
            src="../../assets/images/avatar.jpg"
            alt="avatar-lg"
          />
          <img
            class="avatar-xl br-50 mr-1 my-0-5"
            src="../../assets/images/avatar.jpg"
            alt="avatar-xl"
          />
        </div>

        <!-- text avatar -->
        <h4 class="font-semibold">Text Avatar</h4>
        <p>
          Text avatars,will use your initials of your name when no image is
          provided.
        </p>
        <div
          class="snippet text-center p-2-5 my-1 border flex wrap align-center content-center"
        >
          <div class="text-avatar avatar-xs flex flex-center br-50 mr-1 my-0-5">
            AH
          </div>
          <div class="text-avatar avatar-sm flex flex-center br-50 mr-1 my-0-5">
            AH
          </div>
          <div class="text-avatar avatar-lg flex flex-center br-50 mr-1 my-0-5">
            AH
          </div>
          <div class="text-avatar avatar-xl flex flex-center br-50 mr-1 my-0-5">
            AH
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
