<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./alert.css" />
    <link rel="stylesheet" href="../../gearUI.css" />
    <title>Alert</title>
  </head>
  <body>
    <div class="snippet alert flex-column align-center p-2-5 my-1 border">
      <!-- success -->
      <div class="success alert flex align-center w-50 br-0-5 p-1 mb-1-5">
        <i class="fa-regular fa-circle-check alert-icon"></i>
        <p>This is a success alert.</p>
        <i class="fa fa-times alert-close"></i>
      </div>

      <!-- info -->

      <div class="info alert flex align-center w-50 br-0-5 p-1 mb-1-5">
        <i class="fa fa-info-circle alert-icon"></i>
        <p>This is a info alert.</p>
        <i class="fa fa-times alert-close"></i>
      </div>

      <!-- error -->

      <div class="error alert flex align-center w-50 br-0-5 p-1 mb-1-5">
        <i class="fa fa-warning alert-icon"></i>
        <p>This is a error alert.</p>
        <i class="fa fa-times alert-close"></i>
      </div>

      <!-- warning -->

      <div class="warning alert flex align-center w-50 br-0-5 p-1 mb-1-5">
        <i class="fa fa-warning alert-icon"></i>
        <p>This is a warning alert.</p>
        <i class="fa fa-times alert-close"></i>
      </div>
    </div>
  </body>
</html>
